<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <style>
        h1 {
            display: block;
            font-size: 2em;
            margin-block-start: 0.67em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            unicode-bidi: isolate;
        }
        p{
            color: #ccc;
            filter: blur(0.30px);
        }
        .blogs{
            flex-wrap: wrap;
        }
        .blog{
            border-radius: 10px;
            background-color: rgb(29, 29, 29, 50%);
        }
        .blog + .blog {
            margin-top: 20px;
        }
        .blogitems{
            display: flex;
        }
        .blogcontent{
            flex-wrap: wrap;
        }
        .content{
            flex-wrap: wrap;
        }
        .back{
            transition: 0.5s;
        }
        .back:hover{
            text-shadow: 1px 1px 10px white;
            transition: 0.5s;
        }
    </style>
<body class="bg-black">  
    <div class="container" style="display: flex; margin-left: 0; margin-right: auto;">
        <%- include('./partials/sidebar') %>
        <div class="content p-5">
            <h2><a href="/blog" style="text-decoration: none; color: #ccc; filter: blur(0.50px);" class="back">&#8592; Back</a></h2>
                <% blogs.forEach(blog => { %> 
                    <h1 class="text-white"><%=blog.baslik  %></h1>
                    <div class="blogs">
                    <p><%=blog.aciklama %></p>
                    </div>
                <% }) %>
        </div>
    </div>  
</body>
</html>
