<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <style>
        body {
            color-scheme: dark;
            font-family: 'Karla', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
        }
        .text-light-gray {
            color: #f2f2f2 !important;
        }
        h1 {
            display: block;
            font-size: 2em;
            margin-block-start: 0.67em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            unicode-bidi: isolate;
        }
        p{
            color: #ccc;
            filter: blur(0.30px);
        }
    </style>
<body class="bg-black">  
    <div class="container" style="display: flex; margin-left: 0; margin-right: auto;">
        <%- include('./partials/sidebar') %>
        <div class="content p-5">
            <h1 class="text-white">Hi, i'm pheldus.</h1>
            <p>My name is Emre, a 17 y.o guy from Türkiye. I'm currently working on full-stack web development, but as you can see i suck at front-end 😃. In my free time, i like to code new websites and play games.​</p>
            <p>I have 2-3 years of experience in web development, i'm generally using <a href="/stacks" style=" text-decoration:none !important;"><span style="color: rgb(255, 101, 178);">this</span></a> stacks.</p>
        </div>
    </div>  
</body>
</html>
